/* Fonts */


/*Maybe I should connect these fonts by separate CSS-file*/

@font-face {
    font-family: "BebasNeueBold";
    src: url("../fonts/BebasNeue-Bold.otf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Regular.otf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "OpenSans";
    src: url("../fonts/OpenSans-Regular.ttf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "PlayfairDisplayItalic";
    src: url("../fonts/PlayfairDisplay-Italic.ttf");
    font-style: normal;
    font-weight: normal;
}


/* Body */

body {
    margin: 0;
    padding: 0;
}


/* Header section */

.header {
    background-image: url(../img/header_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* media bg - cover maybe */
}


/* Nav and logo */

.header__logo img {
    margin: 21px 0 220px 15px;
}

.header__nav li {
    display: inline-block;
    margin: 56px 3px 0 3px;
    font-family: Montserrat;
    font-size: 13px;
    letter-spacing: 0.075em;
    text-transform: uppercase;
}

.header__nav a {
    color: #ffffff;
    letter-spacing: 0.075em;
    padding: 14px 20px 14px 20px;
}

.header__nav a:hover {
    text-decoration: none;
    color: #3e705d;
    background-color: #bcfee5;
    border-radius: 3px;
    transition: 0.5s;
}


/* Heading and Text with Link */

.header__text h1 {
    font-family: Montserrat;
    color: #b7fee3;
    font-size: 72px;
    line-height: 85px;
    margin: 0 0 22px 48px;
}

.header__text p {
    font-family: OpenSans;
    color: #ffffff;
    font-size: 24px;
    margin: 0 0 71px 48px;
}

.header__text a {
    color: #b7fee3;
    text-decoration: underline;
    text-underline-position: below;
}

.header__text a:hover {
    color: #7bd6b3;
}

.header__text img {
    margin: 0 0 200px 120px;
    transition: 0.5s;
}

.header__text img:hover {
    transform: scale(1.2);
}


/* ABOUT SECTION */

.about {
    background-color: #b9fee4;
    /*Need to add dots at the bg
    maybe do it with css
    or layout's background-image 
    of the block */
}

.about__heading img {
    margin: 90px 0 25px 0;
}

.about__heading h3 {
    margin-bottom: 28px;
    font-family: Monterrat;
    color: #3e705d;
    font-size: 16px;
    letter-spacing: 0.125em;
    text-transform: uppercase;
}

.about__heading h4 {
    margin-bottom: 30px;
    font-family: Monterrat;
    color: #182b24;
    font-size: 36px;
    font-weight: 500;
}

.about__heading p {
    font-family: OpenSans;
    color: #3a3b3b;
    font-size: 18px;
    margin-bottom: 90px;
}

.about__block {
    margin-bottom: 100px;
}

.about__block img {
    margin-bottom: 40px;
}

.about__block h5 {
    margin-bottom: 33px;
    font-family: Montserrat;
    font-size: 20px;
    color: #182b24;
    font-weight: 900;
}

.about__block p {
    font-family: OpenSans;
    font-size: 14px;
    color: #182b24;
}