/* FONTS */


/*Maybe I should connect these fonts by separate CSS-file*/

@font-face {
    font-family: "BebasNeueBold";
    src: url("../fonts/BebasNeue-Bold.otf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Regular.otf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "OpenSans";
    src: url("../fonts/OpenSans-Regular.ttf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "PlayfairDisplayItalic";
    src: url("../fonts/PlayfairDisplay-Italic.ttf");
    font-style: normal;
    font-weight: normal;
}


/* BODY */

body {
    margin: 0;
    padding: 0;
}

.dotted {
    /*For dots at the bg */
    background: #b9fee4;
    background-image: radial-gradient(#b1f6dc 2px, transparent 0);
    background-size: 15px 15px;
    background-position: -19px -19px;
}


/* HEADER SECTION */

.header {
    background-image: url(../img/header_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* media bg - cover maybe */
}


/* Nav and logo */

.header__logo img {
    margin: 21px 0 220px 15px;
}

.header__nav li {
    display: inline-block;
    margin: 56px 3px 0 3px;
    font-family: Montserrat;
    font-size: 13px;
    letter-spacing: 0.075em;
    text-transform: uppercase;
}

.header__nav a {
    color: #ffffff;
    letter-spacing: 0.075em;
    padding: 14px 20px 14px 20px;
}

.header__nav a:hover {
    text-decoration: none;
    color: #3e705d;
    background-color: #bcfee5;
    border-radius: 3px;
    transition: 0.5s;
}


/* Heading and Text with Link */

.header__text h1 {
    font-family: Montserrat;
    color: #b7fee3;
    font-size: 72px;
    line-height: 85px;
    margin: 0 0 22px 48px;
}

.header__text p {
    font-family: OpenSans;
    color: #ffffff;
    font-size: 24px;
    margin: 0 0 71px 48px;
}

.header__text a {
    color: #b7fee3;
    text-decoration: underline;
    text-underline-position: below;
}

.header__text a:hover {
    color: #7bd6b3;
}

.header__text img {
    margin: 0 0 200px 120px;
    transition: 0.5s;
}

.header__text img:hover {
    transform: scale(1.2);
}


/* ABOUT SECTION */

.about__heading img {
    margin: 90px 0 25px 0;
}

.about__heading h3 {
    margin-bottom: 28px;
    font-family: Monterrat;
    color: #3e705d;
    font-size: 16px;
    letter-spacing: 0.125em;
    text-transform: uppercase;
}

.about__heading h4 {
    margin-bottom: 30px;
    font-family: Monterrat;
    color: #182b24;
    font-size: 36px;
    font-weight: 500;
}

.about__heading p {
    font-family: OpenSans;
    color: #3a3b3b;
    font-size: 18px;
    margin-bottom: 90px;
}

.about__block {
    margin-bottom: 100px;
}

.about__block img {
    margin-bottom: 40px;
}

.about__block h5 {
    margin-bottom: 33px;
    font-family: Montserrat;
    font-size: 20px;
    color: #182b24;
    font-weight: 900;
}

.about__block p {
    font-family: OpenSans;
    font-size: 14px;
    color: #182b24;
}


/* FEATURES SECTION */


/*Centered text in the featured section */

.features__text img {
    margin: 110px 0 25px 0;
}

.features__text h3 {
    font-family: Montserrat;
    color: #3e705d;
    font-size: 16px;
    letter-spacing: 0.125em;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.features__text h4 {
    font-family: Montserrat;
    color: #182b24;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 40px;
}

.features__text p {
    font-family: OpenSans;
    color: #3a3b3b;
    font-size: 18px;
    margin-bottom: 90px;
}


/*Features cards */

.features__cards {
    border-radius: 10px;
    margin: 0 15px 110px 15px;
    padding: 0;
    max-width: 30.7%;
    /*is it normal? 
    I am about max-width */
}

.features__cards img {
    padding: 70px 0 35px 0;
}

.features__cards h5 {
    font-family: Montserrat;
    color: #3a3b3b;
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 30px;
}

.features__cards p {
    font-family: OpenSans;
    color: #3a3b3b;
    font-size: 14px;
    padding-bottom: 75px;
}


/* PARTNERS SECTION */

.partners {
    background-image: url(../img/partners_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.partners__text {
    padding: 0 0 0 30px;
}

.partners__text h4 {
    font-family: Montserrat;
    color: #3e705d;
    font-size: 16px;
    letter-spacing: 0.125em;
    text-transform: uppercase;
    margin-bottom: 30px;
    font-weight: 600;
}

.partners__text h5 {
    font-family: Montserrat;
    font-size: 35px;
    color: #182b24;
    font-weight: 500;
    margin-bottom: 50px;
}

.partners__text p {
    font-family: Montserrat;
    color: #182b24;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 0;
}

.partners__arrow {
    margin: 65px 0 110px 0;
    transition: 0.5s;
}

.partners__arrow:hover {
    transform: scale(1.2);
}