/* FONTS */


/*Maybe I should connect these fonts by separate CSS-file*/

@font-face {
    font-family: "BebasNeueBold";
    src: url("../fonts/BebasNeue-Bold.otf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Regular.otf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "OpenSans";
    src: url("../fonts/OpenSans-Regular.ttf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "PlayfairDisplayItalic";
    src: url("../fonts/PlayfairDisplay-Italic.ttf");
    font-style: normal;
    font-weight: normal;
}


/* BODY */

body {
    margin: 0;
    padding: 0;
    font-family: Montserrat;
}

ul {
    padding-inline-start: 0px;
}

.dotted {
    /*For dots at the bg */
    background: #b9fee4;
    background-image: radial-gradient(#b1f6dc 2px, transparent 0);
    background-size: 15px 15px;
    background-position: -19px -19px;
}

.dotted__white {
    /*For dots at the bg */
    background: #ffffff;
    background-image: radial-gradient(#f0f0f0 2px, transparent 0);
    background-size: 15px 15px;
    background-position: -19px -19px;
}

.line {
    margin: 100px 0 25px 0;
}


/* HEADER SECTION */

.header {
    background-image: url(../img/header_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* media bg - cover maybe */
}


/* Nav and logo */

.header__logo img {
    margin: 21px 0 220px 15px;
}

.header__nav li {
    display: inline-block;
    margin: 56px 3px 0 3px;
    font-size: 13px;
    letter-spacing: 0.075em;
    text-transform: uppercase;
}

.header__nav a {
    color: #ffffff;
    letter-spacing: 0.075em;
    padding: 14px 20px 14px 20px;
}

.header__nav a:hover {
    text-decoration: none;
    color: #3e705d;
    background-color: #bcfee5;
    border-radius: 3px;
    transition: 0.5s;
}

.header__menu {
    margin-left: 90%;
    color: #ffffff;
    transform: scale(2);
    margin-top: 15%;
    margin-right: 5%;
}


/* Heading and Text with Link */

.header__text h1 {
    color: #b7fee3;
    font-size: 72px;
    line-height: 85px;
    margin: 0 0 22px 48px;
}

.header__text p {
    font-family: OpenSans;
    color: #ffffff;
    font-size: 24px;
    margin: 0 0 71px 48px;
}

.header__text a {
    color: #b7fee3;
    text-decoration: underline;
    text-underline-position: below;
}

.header__text a:hover {
    color: #7bd6b3;
}

.header__text img {
    margin: 0 0 200px 120px;
    transition: 0.5s;
}

.header__text img:hover {
    transform: scale(1.2);
}


/* ABOUT SECTION */

.about__heading img {
    margin: 90px 0 25px 0;
}

.about__heading h3 {
    margin-bottom: 28px;
    color: #3e705d;
    font-size: 16px;
    letter-spacing: 0.125em;
    text-transform: uppercase;
    font-weight: 600;
}

.about__heading h4 {
    margin-bottom: 30px;
    color: #182b24;
    font-size: 36px;
    font-weight: 600;
}

.about__heading p {
    font-family: OpenSans;
    color: #3a3b3b;
    font-size: 18px;
    margin-bottom: 90px;
}

.about__block {
    margin-bottom: 100px;
}

.about__block img {
    margin-bottom: 40px;
}

.about__block h5 {
    margin-bottom: 33px;
    font-size: 20px;
    color: #182b24;
    font-weight: 900;
}

.about__block p {
    font-family: OpenSans;
    font-size: 14px;
    color: #182b24;
}


/* FEATURES SECTION */


/*Centered text in the featured section */

.features__text img {
    margin: 110px 0 25px 0;
}

.features__text h3 {
    color: #3e705d;
    font-size: 16px;
    letter-spacing: 0.125em;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.features__text h4 {
    color: #182b24;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 40px;
}

.features__text p {
    font-family: OpenSans;
    color: #3a3b3b;
    font-size: 18px;
    margin-bottom: 90px;
}


/*Features cards */

.features__cards {
    border-radius: 10px;
    margin: 0 15px 110px 15px;
    padding: 0;
    max-width: 30.7%;
    /*is it normal? 
    I am about max-width */
}

.features__cards img {
    padding: 70px 0 35px 0;
}

.features__cards h5 {
    color: #3a3b3b;
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 30px;
}

.features__cards p {
    font-family: OpenSans;
    color: #3a3b3b;
    font-size: 14px;
    padding-bottom: 75px;
}


/* PARTNERS SECTION */

.partners {
    background-image: url(../img/partners_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.partners__text {
    padding: 0 0 0 30px;
}

.partners__text h4 {
    color: #3e705d;
    font-size: 16px;
    letter-spacing: 0.125em;
    text-transform: uppercase;
    margin-bottom: 30px;
    font-weight: 600;
}

.partners__text h5 {
    font-size: 35px;
    color: #182b24;
    font-weight: 500;
    margin-bottom: 50px;
}

.partners__text p {
    color: #182b24;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 0;
}

.partners__arrow {
    margin: 65px 0 110px 0;
    transition: 0.5s;
}

.partners__arrow:hover {
    transform: scale(1.2);
}


/* TESTIMONALS SECTION */

.testimonals {
    background-color: #fff;
}

.testimonals__text h4 {
    text-transform: uppercase;
    color: #3e705d;
    font-size: 16px;
    letter-spacing: 0.125em;
    margin-bottom: 30px;
    font-weight: 600;
}

.testimonals__text h5 {
    color: #182b24;
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 100px;
}


/* Carousel */

.testimonals__carousel p {
    /* font-style: italic;*/
    font-family: PlayfairDisplayItalic;
    font-size: 24px;
    color: #182b24;
    margin-bottom: 90px;
}

.carousel-indicators li {
    /*margin: 90px 0 100px 0;*/
    /* top: 90px;*/
    background-color: #a8aaa9;
    /*padding-bottom: 100px;*/
    width: 7px;
    height: 7px
}

.carousel-indicators .active {
    background-color: #3e705d;
}

.testimonals__carousel {
    margin-bottom: 84px;
}


/* TOUCH SECTION */

.touch {
    background-image: url(../img/touch_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.touch__text h4 {
    text-transform: uppercase;
    color: #b7fee3;
    font-size: 16px;
    letter-spacing: 0.125em;
    margin-bottom: 30px;
    font-weight: 600;
}

.touch__text h5 {
    font-family: Montserrat;
    color: #f8f8f8;
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 110px;
}


/* Left column */

.touch__form {
    border: 1px solid #b7fee3;
    border-radius: 7px;
    padding: 55px 50px 55px 50px;
    margin-bottom: 150px;
}

.touch__form h5 {
    font-size: 18px;
    color: #f8f8f8;
    margin-bottom: 58px;
}

.touch__form input,
textarea {
    background-color: transparent;
    outline: none;
    font-family: OpenSans;
    font-size: 14px;
    color: #f0f0f0;
    border: none;
    border-bottom: 2px solid #b7fee3;
    margin-bottom: 48px;
    width: 85%;
    resize: none;
}


/* placeholders stylization */

.touch__form textarea::-webkit-input-placeholder {
    color: #f0f0f0;
}

.touch__form textarea::-moz-placeholder {
    color: #f0f0f0;
}

.touch__form textarea:-moz-placeholder {
    color: #f0f0f0;
}

.touch__form textarea:-ms-input-placeholder {
    color: #f0f0f0;
}

.touch__form input::-webkit-input-placeholder {
    color: #f0f0f0;
}

.touch__form input::-moz-placeholder {
    color: #f0f0f0;
}

.touch__form input:-moz-placeholder {
    color: #f0f0f0;
}

.touch__form input:-ms-input-placeholder {
    color: #f0f0f0;
}


/*placeholder stylization ended */

.touch__form input {
    height: 33px;
}


/*
.touch__send a {
    /* float: right; }*/

.touch__send p {
    color: #b7fee3;
    font-size: 18px;
    margin-right: 40px;
}

.touch__arrow {
    /*  margin-left: 40px;*/
    transition: 0.5s;
}

.touch__arrow:hover {
    transform: scale(1.2);
}


/* Right column */

.touch__contact h5 {
    color: #ffffff;
    font-size: 18px;
}

.touch__contact1 {
    margin-bottom: 60px;
}

.touch__img {
    margin-top: 40px;
}

.touch__img1 {
    margin-bottom: 115px;
}

.touch__contact1 p {
    font-family: OpenSans;
    color: #ffffff;
    font-size: 14px;
    line-height: 34px;
}

.touch__contact2 p {
    font-family: OpenSans;
    color: #ffffff;
    font-size: 14px;
    line-height: 34px;
    margin-bottom: 0;
}

.touch__icons li {
    list-style-type: none;
    margin-left: 10px;
}

.touch__icons i {
    color: #ffffff;
    /* margin-left: 20px;
    text-align: left;*/
    margin-right: 10px;
}

.touch__icons i:hover {
    color: #b8b2b2;
}

.touch__live {
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    letter-spacing: 0.1em;
    font-size: 13px;
    /*margin-left: 20px;*/
    position: relative;
    top: 100px;
}

.touch__live:hover {
    text-decoration: none;
    color: #3e705d;
    background-color: #bcfee5;
    border-radius: 3px;
    padding: 20px 37px 20px 37px;
    transition: 0.5s;
}


/* FOOTER */

.footer {
    background-color: #000;
}

.footer p {
    margin: 80px 0 80px 0;
    font-family: OpenSans;
    font-size: 18px;
    color: #f8f8f8;
}


/* MEDIA */

@media (max-width: 767px) {
    /* styles for xs-devices */
    .header {
        background-size: 285vh;
        background-position: 50%;
    }
    .features__text p {
        max-width: 90%;
    }
    .features__cards {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .header__nav li {
        margin: 50px 3px 0 3px;
        font-size: 13px;
        list-style: none;
        cursor: pointer;
    }
    #side_nav {
        width: 200px;
        height: 800px;
        position: fixed;
        right: -200px;
        top: 0;
        background-color: #3e705d;
        z-index: 2;
        transition: 0.5s;
    }
    #menu_icon {
        width: 40px;
        position: absolute;
        right: -30px;
        top: -35px;
        z-index: 2;
        cursor: pointer;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    /* styles for sm-devices */
    .header {
        background-size: 285vh;
        background-position: 50%;
    }
    .features__text p {}
    .features__cards {
        flex: 0 0 100%;
        max-width: 90%;
    }
    .header__nav li {
        display: inline-block;
        margin: 45px 3px 0 3px;
        font-size: 13px;
        letter-spacing: 0.075em;
        text-transform: uppercase;
        cursor: pointer;
    }
    #side_nav {
        width: 200px;
        height: 800px;
        position: fixed;
        right: -200px;
        top: 0;
        background-color: #3e705d;
        z-index: 2;
        transition: 0.5s;
    }
    #menu_icon {
        width: 40px;
        position: absolute;
        right: -30px;
        top: -95px;
        z-index: 2;
        cursor: pointer;
    }
}

@media (min-width: 991px) and (max-width: 1199px) {
    /* styles for md-devices */
    /* .header__nav {
        margin-left: 16.66666%;
    }*/
    .header__menu {
        display: none;
    }
}

@media (min-width: 1200px) {
    /* styles for lg-devices */
    .header__menu {
        display: none;
    }
}